@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background: #F7F5F9;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-hobby-purple
{
  color: #8064A2;
}
.bg-hobby-purple{
  background-color: #8064A2;
}
.border-hobby-purple{
  border:  1px solid #8064A2;
}
.border-hobby-purple:hover{
  border:  2px solid #8064A2;
}

